body {
    text-align: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
}

#chicken, #beef, #sushi {
    background-color: grey;
    border: 3px solid black;
    max-width: 100%;
    margin: 15px;
}

h2{
    border-width: 0px 0px 2px 2px;
    border-style: solid;
    border-color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 40%;
    float: right;
    font-size: 18px;
}


#chicken h2 {
    background-color: rgba(185, 110, 110, 0.966);
}
#beef h2 {
    background-color: brown;
}
#sushi h2 {
    background-color: blanchedalmond
}
p {
    clear: both;
    text-align: left;
    padding-left: 12px;
}


/* For desktop  */
@media (min-width: 992px) {

    div {
        display: flex; 
    }

    #chicken, #beef, #sushi {
        background-color: grey;
        border: 3px solid black;
        max-width: 33.33%;
        margin: 15px;
        display: block;
    }
}
